.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
}

.logo {
  width: 100px;
  object-fit: contain;
}

.navitems {
  padding: 0px 10px;
}

.navitems > ul {
  display: flex;
  list-style: none;
  font-size: 24px;
}

.navitems > ul > li {
  padding: 10px;
  cursor: pointer;
}

.search {
  margin: 10px;
}

.filters{
  display: flex;
  margin: 10px;
  gap: 10px;

}

.resturant-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.resturant-card {
  width: 200px;
  min-height: 300px;
  height: auto;
  padding: 5px;
  background-color: lightgray;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: border-color 0.2s ease;
}

.resturant-card:hover {
  border-color: black;
  cursor: pointer;
}

.resturant-logo {
  object-fit: contain;
  width: 100%;
  border-radius: 10px;
}


.search-container{
  display: flex;
}